In [ ]:
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt

# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'ERPDB' 
database = 'TEST0429' 
username = 'test' 
password = 'apple123' 
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [ ]:
sql_query = pd.read_sql_query('SELECT* FROM [TEST0429].[dbo].[Order vs Purchase time series full outer join]',conn, index_col='DATE')

In [ ]:
for i in range(df_gd.shape[0]):
    insert_query += '(' 
    
    for j in range(df_gd.shape[1]):
        insert_query += str(df_gd[df_gd.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '